<<<<<<< HEAD

Temperature: <%= getCurrentTemp(47.53, -122.3) %>
<br/>
Condition: <%= getCurrentCondition(47.53, -122.3) %>
=======
<div class="">
  <div class="">Image holder</div>
  <div class="">Temperature: <%= getCurrentTemp() %>
<br/>
Condition: <%= getCurrentCondition() %></div>
</div>



>>>>>>> cbffd0740731804f410daa6c39b289d59f1dad36
