/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#page {
  margin:auto;
  border:1px solid lightgray;
  min-width:900px;
  width:1000px;
}

#header {
  margin: 0px;
  padding: 0px;
  border-bottom:1px solid #ccc;
}

#header h1 {
  font-size: 32px;
  color:darkslategrey;
}

#header .mission {
  font-size:24px;
}

#content h1 {

}

#content h2 {

}

.city-container {
  float:left;
  width:300px;
}

#footer {

}