/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  background: url('/blue-bg.png') repeat-x;
}

#page {
  margin:auto;
  border:1px solid lightgray;
  min-width:900px;
  width:1000px;
  background:#fff;
}

#header {
  margin: 0px;
  padding: 0px;
  border-bottom:1px solid #ccc;
}

#header h1 {
  font-size: 32px;
  color:darkslategrey;
}


#header .mission {
  font-size:24px;
}

#content {
  overflow:auto;
}

.local {
  clear:both;
}

.local .latest-photos {
  float:left;
}

.local .local-weather {
  float:right;
  background:#fff;
  padding:20px;
  border-left:1px solid #000;
}


.cities {
  clear:both;
}

#content h1 {

}

#content h2 {

}

.notify {
  border: 1px solid #000;
  background: #fff;
  padding: 10px;
  position: relative;
  display: none;
  width: 200px;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  text-align:center;
  box-shadow: 6px 6px 4px #666;
  -moz-box-shadow: 6px 6px 4px #888;
  -webkit-box-shadow: 6px 6px 4px #888;
  margin:10px auto;
}

.city-container {
  float:left;
  width:300px;
}

.city-container .city-name {
  font-size:20px;
}

.city-container .temp {
  font-size:26px;
}

ul.carousel li {
  float: left;
  list-style: none;
  padding-left:10px;
}

#footer {

}