<!DOCTYPE html>
<html>
<head>
  <title>Weatherful</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">

  <!-- Header -->
  <div id="header">
    <h1>Weatherful</h1>

    <div id="header-bottom">

      <!-- Location Form -->
      <form action="" method="POST">
        <input type="text" name="location" id="location" value="Search Location"/>
      </form>
      <!-- /Location Form -->

      <!-- Weather Report -->
      <div id="weather-report"></div>`
      <!-- /Weather Report -->
    </div>
  </div>
  <!-- /Header -->

  <div id="content">
    <%= yield %>
  </div>

  <!-- Footer -->
  <div id="footer">
    
  </div>
  <!-- /Footer -->
</div>

</body>
</html>